@model IEnumerable<MSIT158_2_FinalProject.Models.TActive>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_Backstage";
}

<h1>活動列表</h1>

<label><input type="checkbox" id="chkStart" checked>起始時間</label>
<label><input type="checkbox" id="chkEnd" checked>結束時間</label>
<label><input type="checkbox" id="chkDiscount" checked>折扣</label>
<label><input type="checkbox" id="chkDescription" checked>描述</label>


<p>
    <a asp-action="Create">新增活動</a>
</p>
<table>
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ActiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveName)
            </th>
            <th id="StartDate-th">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th id="EndDate-th">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th id="Discount-th">
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th id="Description-th">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th id="ActiveImage-th">
                @Html.DisplayNameFor(model => model.ActiveImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveName)
                </td>
                <td class="StartDate-td">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="EndDate-td">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="Discount-td">
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td class="Description-td">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="ActiveImage-td">
                    @Html.DisplayFor(modelItem => item.ActiveImage)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", "Product", new { id = item.ActiveId }, null)|
                    @Html.ActionLink("刪除", "delete", "Product", new { id = item.ActiveId }, new { onclick = "return confirm('您確定要刪除嗎??')" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>

        document.getElementById('chkStart').addEventListener('change', function () {
            var sth = document.getElementById('StartDate-th');
            var std = document.getElementsByClassName('StartDate-td');
            if (!this.checked) {
                sth.style.display = 'none';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = 'none';
                }
            } else {
                sth.style.display = '';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = '';
                }
            }
        });
        document.getElementById('chkEnd').addEventListener('change', function () {
            var sth = document.getElementById('EndDate-th');
            var std = document.getElementsByClassName('EndDate-td');
            if (!this.checked) {
                sth.style.display = 'none';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = 'none';
                }
            } else {
                sth.style.display = '';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = '';
                }
            }
        });
        document.getElementById('chkSubCategoryId').addEventListener('change', function () {
            var sth = document.getElementById('SubCategoryId-th');
            var std = document.getElementsByClassName('SubCategoryId-td');
            if (!this.checked) {
                sth.style.display = 'none';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = 'none';
                }
            } else {
                sth.style.display = '';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = '';
                }
            }
        });
        document.getElementById('chkDiscount').addEventListener('change', function () {
            var sth = document.getElementById('Discount-th');
            var std = document.getElementsByClassName('Discount-td');
            if (!this.checked) {
                sth.style.display = 'none';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = 'none';
                }
            } else {
                sth.style.display = '';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = '';
                }
            }
        });
        document.getElementById('chkDescription').addEventListener('change', function () {
            var sth = document.getElementById('Description-th');
            var std = document.getElementsByClassName('Description-td');
            if (!this.checked) {
                sth.style.display = 'none';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = 'none';
                }
            } else {
                sth.style.display = '';
                for (var i = 0; i < std.length; i++) {
                    std[i].style.display = '';
                }
            }
        });
    </script>
}