<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @if (ViewBag.Product.ProductPhoto != null)
                    {
                        <div class="product-preview">
                            <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(ViewBag.Product.ProductPhoto)" style="object-fit: contain;" alt="">
                        </div>
                    }
                    @* <div class="product-preview">
                    <img src="./img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                    <img src="./img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                    <img src="./img/product08.png" alt="">
                    </div> *@
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @if (ViewBag.Product.ProductPhoto != null)
                    {
                        <div class="product-preview">
                            <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(ViewBag.Product.ProductPhoto)" style="object-fit: contain;" alt="">
                        </div>
                    }
                    @* <div class="product-preview">
                    <img src="./img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                    <img src="./img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                    <img src="./img/product08.png" alt="">
                    </div> *@
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@ViewBag.Product.ProductName</h2>
                    <div>
                        <div class="product-rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < ViewBag.平均星)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star-o empty"></i>
                                }
                            }
                        </div>
                        <a class="review-link" href="#tab3" id="rc">@ViewBag.評價數 件評價</a>
                    </div>
                    <div>
                        <h3 class="product-price">$@Convert.ToInt32(ViewBag.Product.UnitPrice)<del class="product-old-price">$@Convert.ToInt32((double)ViewBag.Product.UnitPrice * 1.2)</del></h3>
                        <span class="product-available" id="sp1">庫存:@ViewBag.Product.Stocks</span>
                    </div>
                    @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> *@

                    @* <div class="product-options">
                    <label>
                    Size
                    <select class="input-select">
                    <option value="0">X</option>
                    </select>
                    </label>
                    <label>
                    Color
                    <select class="input-select">
                    <option value="0">Red</option>
                    </select>
                    </label>
                    </div> *@
                    <div class="add-to-cart">
                        <div class="qty-label">
                            <div class="input-number">
                                <input type="number" value="1" id="qty">
                                <span class="qty-up" onclick="cp()">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn" onclick="addcart()"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> 加入收藏</a></li>
                        @* <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li> *@
                    </ul>

                    <ul class="product-links">
                        <li>分類:</li>
                        <li><a href="#">@ViewBag.商品類別.CategoryCname</a></li>
                        <li><a href="#">@ViewBag.商品類別.SubCategoryCname</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>品牌:</li>
                        <li>
                            <a href="#">
                                @if (ViewBag.品牌.SupplierPhoto != null)
                                {
                                    <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(ViewBag.品牌.SupplierPhoto)" style="width: 32px;height: 32px;object-fit: contain;">
                                }
                                @ViewBag.品牌.LabelName
                            </a>
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>分享:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">商品介紹</a></li>
                        @* <li><a data-toggle="tab" href="#tab2">Details</a></li> *@
                        <li><a data-toggle="tab" href="#tab3">商品評價(@ViewBag.評價數)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    @* <p>@((MarkupString)d)</p> *@
                                    <h2>@Html.Raw(ViewBag.商品詳細)</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        @* <div id="tab2" class="tab-pane fade in">
                        <div class="row">
                        <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        </div>
                        </div> *@
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>@(ViewBag.平均星 + 1)</span>
                                            <div class="rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width:@(ViewBag.s5)%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.d5</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width:@(ViewBag.s4)%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.d4</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width:@(ViewBag.s3)%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.d3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width:@(ViewBag.s2)%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.d2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width:@(ViewBag.s1)%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.d1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews" id="u1">
                                        </ul>
                                        <ul class="reviews-pagination" id="u2">
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                @* <div class="col-md-3">
                                <div id="review-form">
                                <form class="review-form">
                                <input class="input" type="text" placeholder="Your Name">
                                <input class="input" type="email" placeholder="Your Email">
                                <textarea class="input" placeholder="Your Review"></textarea>
                                <div class="input-rating">
                                <span>Your Rating: </span>
                                <div class="stars">
                                <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                </div>
                                </div>
                                <button class="primary-btn">Submit</button>
                                </form>
                                </div>
                                </div> *@
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">相關商品</h3>
                </div>
            </div>
            <!-- product -->
            @foreach (var v in ViewBag.相關商品)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <a class="product-img" href="~/P/Productpage/@v.ProductId">
                            <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(v.ProductPhoto)" alt="" style="width:259px;height:259px;object-fit: contain;">
                            <div class="product-label">
                                @* <span class="sale">-30%</span> *@
                            </div>
                        </a>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">@v.ProductName</a></h3>
                            <h4 class="product-price">$@Convert.ToInt32(v.UnitPrice) <del class="product-old-price">$@Convert.ToInt32((double)v.UnitPrice * 1.2)</del></h4>
                            <div class="product-rating">
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn" onclick="addcart2(@v.ProductId)"><i class="fa fa-shopping-cart"></i> 加入購物車</button>
                        </div>
                    </div>
                </div>
                <!-- /product -->
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->
@section Scripts {
    <script>
        var page = 1
        var b = ""
        async function go() {
            var Data = {
                "pid": pid.value,
                "page": page,
            }
            var a = await fetch(`@Url.Content("~/P/ReviewsAPI") `, {
                method: 'POST',
                body: JSON.stringify(Data),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            b = await a.json()
            await go2()
        }
        function go2() {
            var t = ""
            for (let i = 0; i < b.length; i++) {           
                var name = b[i].memberName.substring(0, 1)
                for (let i2 = 1; i2 < b[i].memberName.length; i2++)
                    name += "*"
                var img = ""
                if (b[i].memberPhoto != null) {
                    img = `${b[i].memberPhoto}`
                }
                else img = `392531_account_friend_human_man_member_icon.jpg`
                t += `<li><div class="review-heading"><img src="/img/${img}" style="width:32px;height:32px;;object-fit: contain;"/><label class="name">${name}</label><p class="date">${b[i].reviewDate}</p><div class="review-rating">`;
                for (let i2 = 0; i2 < 5; i2++) {
                    if (i2 < b[i].rankId)
                        t += `<i class="fa fa-star"></i>`
                    else t += `<i class="fa fa-star-o empty"></i>`
                }
                let l = b[i].comment;
                if (l == null) l = ""
                t += `</div></div><div class="review-body"><p>${l}</p></div></li>`
            }
            u1.innerHTML = t;
            go3()
        }
        function go3() {
            var t2 = ""
            var rcc = Number(rc.innerHTML)
            var allp = rcc / 7
            if (rcc <= 7) allp = 2
            else allp++
            for (let i3 = 1; i3 < allp; i3++) {
                if (i3 == page)
                    t2 += `<li class="active"><a href="javascript:void(0)" onclick="gopage(${i3})">${i3}</a></li>`
                else
                    t2 += `<li><a href="javascript:void(0)" onclick="gopage(${i3})">${i3}</a></li>`
            }
            t2 += ` <li><a href="javascript:void(0)" onclick="gopage()"><i class="fa fa-angle-right"></i></a></li> `
            u2.innerHTML = t2;
        }
        function gopage(gogo = 0) {
            if (gogo == 0 && page < Number(rc.innerHTML) / 7) page++
            else if (page == Number(rc.innerHTML) / 7) return
            else page = gogo
            go()
        }
        go()
        function cp() {
            if (qty.value > Stocks.value - 1)
                qty.value = (Stocks.value - 1)
        }
        function addcart() {
            if (mid.value == 0) {
                location.href = "/HOME/Login"
                return
            }
            add()
            async function add() {
                var Data2 = {
                    "memberId": mid.value,
                    "ProductId": pid.value,
                    "qty": Number(qty.value)
                }
                var a2 = await fetch(`@Url.Content("~/P/addCartAPI")`, {
                    method: 'POST',
                    body: JSON.stringify(Data2),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                var b2 = await a2.text()
                if (b2 == "ok") window.alert("加入購物車成功")
                cart1()
            }
        }

        ////////////////////////////////////////////
        function addcart2(pid2) {
            if (mid.value == 0) {
                location.href = "/HOME/Login"
                return
            }
            add()
            async function add() {
                var Data2 = {
                    "memberId": mid.value,
                    "ProductId": pid2,
                    "qty": 1
                }
                var a2 = await fetch(`@Url.Content("~/P/addCartAPI")`, {
                    method: 'POST',
                    body: JSON.stringify(Data2),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                var b2 = await a2.text()
                if (b2 == "ok") window.alert("加入購物車成功")
                cart1()
            }
        }
        ////////////////////////////////////////////////////////////////
        var 總價 = 0;
        var 運費 = 60;
        var b = ""
        var bp = ""
        var count = 0
        async function cart1() {
            var a = await fetch(`@Url.Content("~/C/miniCartsAPI")`)
            var ap = await fetch(`@Url.Content("~/C/miniCartsAPI2")`)
             b = await a.json()
             bp = await ap.json()
            cart2()
        }
        function cart2() {
            var t = ``
            count = 0
            總價 = 0;
            for (let f in b) {
                count++
                總價 += b[f].unitPrice * b[f].qty;
                t += `<div  id="c${f}"><div class="product-widget">
                                                            <div class="product-img">
                                                                                <img src="data:image/jpeg;base64,${b[f].productPhoto}" alt="" style="object-fit: contain;">
                                                            </div>
                                                            <div class="product-body">
                                                                        <h3 class="product-name"><a href="#">${b[f].productName}</a></h3>
                                                                                <h4 class="product-price"><span class="qty">${b[f].qty}x</span>${b[f].unitPrice}</h4>
                                                            </div>
                                                                    <button class="delete" onclick="dedet(${f},${b[f].unitPrice} ,${b[f].qty},${b[f].cartId})"><i class="fa fa-close"></i></button>
                                                                </div></div>`
            }
            for (let f in bp) {
                count++
                總價 += bp[f].price * bp[f].qty;
                t += `<div  id="p${f}"><div class="product-widget">
                                                                    <div class="product-img">
                                                                       <img src='@Url.Content("~/assets/img/packageImages/")${bp[f].picture}' alt="" style="object-fit: contain;">
                                                                    </div>
                                                                    <div class="product-body">
                                                                                        <h3 class="product-name"><a href="#">${bp[f].packName}</a></h3>
                                                                                                <h4 class="product-price"><span class="qty">${bp[f].qty}x</span>${bp[f].price}</h4>
                                                                    </div>
                                                                                            <button class="delete" onclick="dedet2(${f},${bp[f].price} ,${bp[f].qty},${bp[f].packageCartId})"><i class="fa fa-close"></i></button>
                                                                        </div></div>`
            }
            cart.innerHTML = t
            cart3()
        }
        function cart3() {
            SUBTOTAL.innerHTML = '$' + 總價
            cartqty.innerHTML = count
            Items.innerHTML = count + "樣商品"
        }
        async function dedet(d, p, q, id) {
            if (!confirm("確定要刪除嗎?")) return
            var a2 = await fetch(`@Url.Content("~/C/deleteCartAPI")/${id}`)
            var b2 = await a2.text()
            if (b2 != "ok") return
            document.getElementById("c" + d).innerHTML = "";
            總價 -= Number(p * q)
            count --
            SUBTOTAL.innerHTML = '$' + 總價
            cart3()
        }
        async function dedet2(d, p, q, id) {
            if (!confirm("確定要刪除嗎?")) return
            var a2 = await fetch(`@Url.Content("~/C/deleteCartAPI2")/${id}`)
            var b2 = await a2.text()
            if (b2 != "ok") return
            document.getElementById("p" + d).innerHTML = "";
            總價 -= Number(p * q)
            count -- 
            SUBTOTAL.innerHTML = '$' + 總價
            cart3()
        }
        cart1()
    </script>
}
<input type="hidden" value="@ViewBag.mid" id="mid" />
<input type="hidden" value="@ViewBag.Product.ProductId" id="pid" />
<input type="hidden" value="@ViewBag.Product.Stocks" id="Stocks" />
